@font-face {
	font-family: fuenteprueba;
	src: url(Mermaid1001.ttf);
}

body{
	font-family: fuenteprueba;
	padding: 0;
	margin:0;
	overflow:hidden;
	/*background: linear-gradient(to right,white 40%,rgb(13, 13, 228) 100%);*/
	background: linear-gradient(217deg, rgba(220, 218, 250, 0.8), rgba(164, 147, 240, 0) 70.71%),
	linear-gradient(127deg, rgba(67, 177, 250, 0.8), rgba(0,255,0,0) 70.71%),
	linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.form{
    
    width:450px;
    height:80%;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    padding:20px 30px;
    box-sizing:border-box;
    font-family: fuenteprueba;
    position:relative;
    margin-top: 3%;
    margin-left: 39%;
    overflow-y: hidden;
}

input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2
}

input:focus{
    border-bottom:2px solid #78788c
}

p:before{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:#5a5a5a
}
#button{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s
}

#button:hover{
    background:#78788c;
    color:#fff;
}

.bloque {
    display: none;
}

 
























 