body{
    padding: 0;
    margin:0;
    overflow:hidden;   
    /*background: linear-gradient(to right,white 40%,rgb(13, 13, 228) 100%);*/
    background: linear-gradient(217deg, rgba(220, 218, 250, 0.8), rgba(164, 147, 240, 0) 70.71%),
            linear-gradient(127deg, rgba(67, 177, 250, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    border: 1px solid transparent;
    border-left: none;
    width: 100%; 
    height:10%;
    text-align:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Cambiar al gusto*/ 
} 

header p{
    position:absolute;
    top: 0;
    left: 40%;
    font-size:2em;
}

#logo{
    height: 100px;
    width: 100px;
   display: block;
}

.container{
    float:left;
    border: 2px dashed black;
    width: 30%;
    padding: 10px;
    margin-top: 7%;
    margin-left: 13%;
}

.form{
    width:290px;
    height:150px;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    padding:20px 30px;
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
}

input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid #000000
}

#registrosalidas{
    padding:8px 12px;
    width:52%;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s;
    display: block;
    margin:auto;
}

#buscar{
    padding:8px 12px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s
}

#buscar:hover{
    background:#78788c;
    color:#fff
}
#registrosalidas:hover{
    background:#78788c;
    color:#fff
}

table{
    border-collapse:collapse;
    text-align: center;
}
thead{
 background-color: black;
 color: white;
}
thead tr th{
    padding:8px 12px;
}
tbody tr td{
    padding:8px 12px;
}
tbody :nth-child(odd) td {
    background-color: lightgray;
}
tbody :nth-child(even) td {
    background-color:white;
}